<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Infos :</h5>
        <p class="grey-text text-lighten-4">Apprentissage de développement d'une application avec angular dans la cadre de la formation Nomades ateliers</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Here are some links to help you start: </h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright
    </div>
  </div>
</footer>
